.body{
    margin-left: 100px;
}
.sbm_btn{
    color: rgb(0, 102, 204);
    margin-left: 150px;
}
.sbm_btn:hover{
    color: rgb(35, 85, 165);
}
.back_index{
    color: rgb(0, 102, 204);
}
.back_index:hover{
    color: gray;
    text-decoration: underline;
}