.userName{
    font-family: serif;
}
.post{
    border-bottom: 1px dotted;
}
.title{
    color: black;
    font-size: 30px;
    font-family: sans-serif;
    margin-left: 100px;
}
.title:hover{
    color: #6737ae;
}
.instruments{
    font-size: 20px;
    font-family: serif;
    margin-left: 100px;
}